<div class="row">
  <div class="col-xs-12">
    <h5>マイページ</h5>
    <table class="table table-bordered table-condensed">
      <thead>
        <tr>
          <th>項目1</th>
          <th>項目2</th>
          <!-- 必要な項目を追加 -->
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>データ1</td>
          <td>データ2</td>
          <!-- 必要なデータを追加 -->
        </tr>
        <!-- 必要な行を追加 -->
      </tbody>
    </table>
  </div>
</div>
