

<main class="container">
  <h5 class="p-5">会員ログイン</h5>
  <form action="" method="post">
    <div class="row">
      
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= render "admin/shared/error_messages", resource: resource %>
    
      <div class="col-md-12 mb-3">
        <label class="form-label" for="inputEmail">メールアドレス</label>
        <span class="text-danger">*</span>
        <input type="email" class="form-control" name="email" id="inputEmail" placeholder="sample@example.com" required>
      </div>

      <div class="col-md-12 mb-3">
        <label class="form-label" for="inputPassword">パスワード(６文字以上)</label>
        <span class="text-danger">*</span>
        <input type="password" class="form-control" name="password">
      </div>
      <div class="actions">
       <%= f.submit "Log in" %>
      </div>
      <% end %>
<p> 会員登録がお済みでない方 </p>
     <%= render "public/shared/links" %>こちら から新規登録を行ってください。
    </div>
  </form>
</main>

